Mantenimiento/pkgs/Wadl/SpIn_PreventivSure_InsertarActividadDatos.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SpIn_PreventivSure_InsertarActividadDatos" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SpIn_PreventivSure_InsertarActividadDatos" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_text_def" />
      <string name="ManualTriggerInput_text_1_def" />
      <string name="ManualTriggerInput_text_2_def" />
      <string name="ManualTriggerInput_text_3_def" />
      <string name="ManualTriggerInput_text_4_def" />
      <string name="ManualTriggerInput_text_5_def" />
      <string name="ManualTriggerInput_text_6_def" />
      <string name="ManualTriggerInput_text_7_def" />
      <string name="ManualTriggerInput_text_8_def" />
      <object name="ManualTriggerInput">
        <property name="text" type="string" />
        <property name="text_1" type="string" />
        <property name="text_2" type="string" />
        <property name="text_3" type="string" />
        <property name="text_4" type="string" />
        <property name="text_5" type="string" />
        <property name="text_6" type="string" />
        <property name="text_7" type="string" />
        <property name="text_8" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="text" path="/text" type="xs:string" required="true">
              <doc title="Activo_No" />
            </param>
            <param style="plain" name="text_1" path="/text_1" type="xs:string" required="true">
              <doc title="Clase_Mtto" />
            </param>
            <param style="plain" name="text_2" path="/text_2" type="xs:string" required="true">
              <doc title="Zona" />
            </param>
            <param style="plain" name="text_3" path="/text_3" type="xs:string" required="true">
              <doc title="Actividad" />
            </param>
            <param style="plain" name="text_4" path="/text_4" type="xs:string" required="true">
              <doc title="Img1" />
            </param>
            <param style="plain" name="text_5" path="/text_5" type="xs:string" required="true">
              <doc title="Img2" />
            </param>
            <param style="plain" name="text_6" path="/text_6" type="xs:string" required="true">
              <doc title="Img3" />
            </param>
            <param style="plain" name="text_7" path="/text_7" type="xs:string" required="true">
              <doc title="Img4" />
            </param>
            <param style="plain" name="text_8" path="/text_8" type="xs:string" required="true">
              <doc title="Img5" />
            </param>
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>